<h1>
  {{ title }}
</h1>
<h2>
  {{ getTitle() }}
</h2>
<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>
<p>courses works!</p>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
{{ course | uppercase | lowercase }}

<hr />

{{ text | summaryPipe: 10 }}
